{{> head }}
          
           {{> navbar }}
              <div class="container">

              
              <div class="row">

                    <div class="col-8">
                      <h1>Node js</h1>
                      <p>
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                           Veritatis sed excepturi dolorem aperiam natus neque, dicta maiores, perspiciatis quas, sequi aut esse accusamus voluptatibus consequuntur similique modi laudantium voluptatum! Provident.
                      </p>
                    </div>

                    <div class="col-4">
                          <img src="assets/img/node.png" class="img-thumbnail">
                    </div>
                    
                </div>

                </div>

     {{> footer }}

         